淅淅沥沥雨落纷纷 
闪烁着无名的微光
夕阳藏在雨幕后
默默的洒下余晖
旅者沿着小道
踽踽而独行
阴沉抑郁笼罩于心
旅者看见，大颗大颗的雨点间流溢下的光芒
在那金黄璀璨的辉光间穿梭
旅者感受到额前雨点落下的凉意
颤抖着描述着甘霖般的苦涩
他见到雨点闪耀着光辉
徜徉在璀璨金色的辉光中
他感受到额头上 雨点落下的凉意
它颤抖着诉说着甘霖般的苦涩
现在我知道了，所谓彩虹
那在头上高高架起的桥梁
在那条我曾走过的小径上
远处的人微笑着看它嬉戏
还有，那些和我至亲至近者
还有，那些自认为熟知我者
连他们都不会看到
那彩虹犹如救赎照耀我身
所以，在未来的日子中
回望今天 将会是如此的灿烂
在我遥远的，褪去颜色的名字上
荣誉的彩虹将会在其上散下辉光
